<!--  Footer  -->
        <footer>
            <div class="container">
                <div class="row no-margin">
                    <div class="col-md-12 text text-center padding-bottom-null">
                        <div class="row no-margin">
                            <ul class="social">
                                <li><a href="https://twitter.com/publicaoperece" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.publicaoperece.com/" target="_blank"><i class="fa fa-share-square" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 text text-center">
                        <p>© Copyright <a href="https://fabro.com.mx" target="_blank">Fabro Editores</a> 2010 - 2019 . Todos los derechos reservados.</p>
                    </div>
                </div>
            </div>
        </footer>
        <!--  END Footer. Class fixed for fixed footer  -->
        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{{site.url}}/assets/js/jquery.min.js"></script>
        <!-- All js library -->
        <script src="{{site.url}}/assets/js/bootstrap/bootstrap.min.js"></script>
        <script src="{{site.url}}/assets/js/owl.carousel.min.js"></script>
        <script src="{{site.url}}/assets/js/jquery.magnific-popup.min.js"></script>
        <script src="{{site.url}}/assets/js/jquery.scrollTo.min.js"></script>
        <script src="{{site.url}}/assets/js/smooth.scroll.min.js"></script>
        <script src="{{site.url}}/assets/js/jquery.appear.js"></script>
        <script src="{{site.url}}/assets/js/jquery.scrolly.js"></script>
        <script src="{{site.url}}/assets/js/plugins-scroll.js"></script>
        <script src="{{site.url}}/assets/js/pace.min.js"></script>
        <script src="{{site.url}}/assets/js/main.js"></script>
    </body>
</html>