<!--  Loader  -->
        <div id="myloader">
            <div class="loader">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div>
        <!--  END Loader  -->
        

        <!--  Main Wrap  -->
        <div id="main-wrap">
            <!--  Header & Menu  -->
            <header id="header" class="transparent light-background fixed full-width">
                <div class="container">
                    <nav class="navbar navbar-default">
                        <!--  Header Logo  -->
                        <div id="logo">
                            <a class="navbar-brand" href="index.html">
                                <img src="{{site.url}}/assets/img/logo.png" class="normal" alt="logo">
                                <img src="{{site.url}}/assets/img/logo@2x.png" class="retina" alt="logo">
                            </a>
                        </div>
                        <!--  END Header Logo  -->
                        <!--  Menu  -->
                        <div id="sidemenu">
                            <div class="menu-holder">
                                <ul>
                                    <li>
                                        <a href="#info" class="anchor">Contenidos</a>
                                    </li>
                                    <li>
                                        <a href="#author" class="anchor">Autor</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--  END Menu  -->
                        <!--  Button for Responsive Menu  -->
                        <div id="menu-responsive-sidemenu">
                            <div class="menu-button">
                                <span class="bar bar-1"></span>
                                <span class="bar bar-2"></span>
                                <span class="bar bar-3"></span>
                            </div>
                        </div>
                        <!--  END Button for Responsive Menu  -->
                    </nav>
                </div>
            </header>
            <!--  END Header & Menu  -->